# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore

# Generated platform files created by bootstrap
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db
